<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:content="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
>


   <!--引入数据源 -->
   <bean id="dataScore" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close" >
      <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
      <property name="url" value="jdbc:mysql://39.105.208.84:3306/bcu_library?useUnicode=true&amp;characterEncoding=utf8"/>
      <property name="username" value="root"/>
      <property name="password" value="root"/>
   </bean>

   <!--sqlSessionFactory-->
   <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean" >
      <property name="dataSource" ref="dataScore"/>
      <property name="configLocation" value="/WEB-INF/mybatis-config.xml"/>
   </bean>

   <!--Mapper扫描器-->
   <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
      <property name="basePackage" value="com.bcu.mapper"/>
      <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
   </bean>


   <content:component-scan base-package="com.bcu.controller"/>
   <content:component-scan base-package="com.bcu.service"/>
   <content:component-scan base-package="com.bcu.util"/>






</beans>