<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bcu.mapper.SeatMapper">

<!--auto generated Code-->
    <sql id="Base_Column_List">
    </sql>
    <resultMap id="AllColumnMap" type="com.bcu.pojo.Seat">
        <result column="seat_id" property="seatId"/>
        <result column="seat_status" property="seatStatus"/>
        <result column="seat_user_id" property="seatUserId"/>
        <result column="seat_user_name" property="seatUserName"/>
        <result column="seat_time_start" property="seatTimeStart"/>
        <result column="seat_time_end" property="seatTimeEnd"/>
    </resultMap>

<!--auto generated Code-->
    <sql id="all_column">
        seat_id,
        seat_status,
        seat_user_id,
        seat_user_name,
        seat_time_start,
        seat_time_end
</sql>

<!--auto generated Code-->
    <insert id="insert">
        INSERT INTO seat (
        ) VALUES (
        )
</insert>

<!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO seat(
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
        (
        )
        </foreach>
</insert>

<!--auto generated Code-->
    <update id="update">
        UPDATE seat
        <set>
            seat_status = #{pojo.seatStatus},
            seat_user_id = #{pojo.seatUserId},
            seat_user_name = #{pojo.seatUserName},
            seat_time_start = #{pojo.seatTimeStart},
            seat_time_end = #{pojo.seatTimeEnd}
        </set>
         WHERE seat_id = #{pojo.seatId}
    </update>

<!--auto generated Code-->
    <select id="select" resultMap="AllColumnMap">
        SELECT <include refid="all_column"/>
        FROM seat
        <where>

            <if test="pojo.seatId != null"> AND seat_id = #{pojo.seatId} </if>
            <if test="pojo.seatStatus != null"> AND seat_status = #{pojo.seatStatus} </if>
            <if test="pojo.seatUserId != null"> AND seat_user_id = #{pojo.seatUserId} </if>
            <if test="pojo.seatUserName != null"> AND seat_user_name = #{pojo.seatUserName} </if>
            <if test="pojo.seatTimeStart != null"> AND seat_time_start = #{pojo.seatTimeStart,jdbcType=DATETIME}  </if>
            <if test="pojo.seatTimeEnd != null"> AND seat_time_end = #{pojo.seatTimeEnd,jdbcType=DATETIME} </if>
        </where>
        LIMIT 1000 
    </select>






<!--auto generated Code-->
    <delete id="delete">
        DELETE FROM seat where id = #{id}
    </delete>


    <select id="CountAvailableSeat" resultType="int">
       select count(seat_status) from seat where seat_status=1
    </select>

<!--auto generated by MybatisCodeHelper on 2019-03-07-->
    <select id="findBySeatId" resultMap="AllColumnMap">
        select
        *
        from seat
        where seat_id=#{seatId}
    </select>


</mapper>
