<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bcu.mapper.UserMapper">


    <sql id="Base_Column_List">
            user_id,
            user_open_id,
            user_name,
            user_part,
            user_study_time,
            user_status
    </sql>
    <insert id="insertUser" parameterType="com.bcu.pojo.User" >
        insert into user (user_id, user_open_id, user_name, user_part, user_study_time, user_status)
        values (
               #{userId},
               #{userOpenId},
               #{userName},
               #{userPart},
               #{userStudyTime},
               #{userStatus}
              );

    </insert>

    <update id="updateUser" parameterType="com.bcu.pojo.User" >
        update user set
      <trim prefix="set" prefixOverrides=",">
        <if test="userOpenId != null">
            ,user_open_id=#{userOpenId}
        </if>

        <if test="userName != null">
            ,user_name=#{userName}
        </if>

        <if test="userStudyTime != 0">
            ,user_study_time=#{userStudyTime}
        </if>

        <if test="userStatus != 0">
            ,user_status=#{userStatus}
        </if>
      </trim>
        where user_id=#{userId};

    </update>

    <delete id="deleteUser">
      delete from user where user_id=#{userId};
    </delete>

    <select id="selectUserById" parameterType="string" resultType="com.bcu.pojo.User">
        select * from user where user_id=#{userId};
    </select>

    <select id="selectUser" parameterType="com.bcu.pojo.User" resultMap="userList">
        select * from user where
        <if test="userId !=null">
            user_id=#{userId} and
        </if>

        <if test="userOpenId != null">
             user_open_id=#{userOpenId}
        </if>

        <if test="userName != null">
            and  user_name=#{userName}
        </if>

        <if test="userStudyTime != 0">
            and user_study_time=#{userStudyTime}
        </if>

        <if test="userStatus != 0">
            and user_status=#{userStatus}
        </if>
    </select>


    <resultMap id="userList" type="com.bcu.pojo.User">
        <result column="user_id" property="userId"/>
        <result column="user_open_id" property="userOpenId"/>
        <result column="user_name" property="userName"/>
        <result column="user_part" property="userPart"/>
        <result column="user_study_time" property="userStudyTime"/>
        <result column="user_status" property="userStatus"/>
    </resultMap>

<!--auto generated by MybatisCodeHelper on 2019-02-24-->
    <select id="findByUserId" resultType="com.bcu.pojo.User">
        select
        <include refid="Base_Column_List"/>
        from user
        where user_id=#{userId}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-02-24-->
    <select id="findUserNameByUserId" resultType="string">
        select user_name
        from user
        where user_id = #{userId}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-02-24-->
    <select id="findUserStudyTimeByUserId" resultType="java.lang.Integer">
        select user_study_time
        from user
        where user_id = #{userId}
    </select>

<!--auto generated by MybatisCodeHelper on 2019-03-05-->
    <select id="findByUserOpenId" resultMap="userList">
        select * from user where user_open_id=#{userOpenId,jdbcType=VARCHAR}
    </select>

    <!--auto generated by MybatisCodeHelper on 2019-03-05-->

    <select id="getUserRankByOpenId" resultType="java.lang.Integer">
        select rowno from
        (select user_open_id,user_study_time,(@rowno:=@rowno+1) as rowno from user,(select (@rowno:=0)) b order by user_study_time desc)
        c where user_open_id = #{userOpenId};
    </select>





</mapper>
