<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="activeDatabaseInfo">
      <NewDatabaseInfo>
        <option name="database" value="bcu_library" />
        <option name="databaseType" value="MySql" />
        <option name="password" value="root" />
        <option name="url" value="localhost:3306" />
        <option name="userName" value="root" />
      </NewDatabaseInfo>
    </option>
    <option name="databaseInfos">
      <list>
        <NewDatabaseInfo>
          <option name="database" value="bcu_library" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="root" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
        <NewDatabaseInfo>
          <option name="database" value="bcu_library" />
          <option name="databaseType" value="MySql" />
          <option name="password" value="root" />
          <option name="url" value="localhost:3306" />
          <option name="userName" value="root" />
        </NewDatabaseInfo>
      </list>
    </option>
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.bcu.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
        <option name="javaModelPackage" value="com.bcu.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/src" />
        <option name="lastDatabaseCrudChooseModuleName" value="BCULbrary" />
        <option name="modelAddToString" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="BCULbrary">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.bcu.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/src" />
                  <option name="javaModelPacakge" value="com.bcu.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/src" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/src" />
                  <option name="xmlPackage" value="com.bcu.mapper" />
                  <option name="xmlPath" value="E:\BCULbrary\src\" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="bcu_library:feedback">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="fb_id" />
                  <option name="javaModelName" value="Feedback" />
                  <option name="moduleName" value="BCULbrary" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bcu_library:message">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="message_id" />
                  <option name="javaModelName" value="Message" />
                  <option name="moduleName" value="BCULbrary" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bcu_library:seat">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="Seat" />
                  <option name="moduleName" value="BCULbrary" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bcu_library:study">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="Study" />
                  <option name="moduleName" value="BCULbrary" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="bcu_library:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="BCULbrary" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="xmlMapperPackage" value="com.bcu.mapper" />
        <option name="xmlMapperPath" value="E:\BCULbrary\src\" />
      </ProjectProfile>
    </option>
  </component>
</project>